table {
    background: gray;
}

table th{
    background: gray;
}

table td{
    background: gainsboro;
}

#settings {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background: #f9f9f9;
}

#settings div {
    margin: 10px 0;
}

.errMessage {
    color: red;
    font-weight: bold;
}