.main-container {
    background-color: rgb(120, 213, 120);
    margin: 0 auto;
    padding: 10px;
    width: 90%;
}

.upper-block {
    white-space: nowrap;
    width: 100%;
}

#quote-1, #quote-2, #quote-3 {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    margin: 0 1%;
    width: 31%;
    box-sizing: border-box;
}

.down-block {
    padding-left: 40px;
    padding-right: 40px;
}

.quote {
    padding: 10px;
    background-color: white;
}

#quote-4 {
    margin-top: 2%;
}